@media (max-width: $mini-tablet) {
  .container{
    width: 95%;
    position: relative;
  }
  .header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background:  rgba(255, 253, 250, 0.545);
    &__button{
      display: block;
    }
    .menu{
      display: none;
      &.active{
        display: block;
      }
    }
  }
  .nav{
    // display: none;
    height: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    @include flexbox(column, nowrap, center, center,0);
    backdrop-filter: blur(1rem);
    &__ul{
      flex-direction: column;
    }
    &__li{
      margin: 1rem 0;
    }
    &__a{
      font-size: 1.5rem;
    }
    &.activo{
      // display: block;
      height: 70vh;
      pointer-events: auto;
    }
  }
  .sections{
    padding-top: 5rem;
    gap: 2rem;
  }
  .section2,.section3{
    margin: 0;
  }
  .section3{
    margin-bottom: 3rem;
  }
}

@media (max-width: $tablet) {
  .sections{
    grid-template-columns: 1fr;
    grid-template-areas:
    "section1"
    "section2"
    "section3";
  }
  .section3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: minmax(100px,auto);
  }
  .card{
    min-width: 100%;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    &__body{
      height: 100%;
    }
    &__cover{
      width: 100%;
      min-height: 100%;
    }
  }
}


@media (max-width: 70.625rem) {
  .section1{
    grid-template-areas: 
    "picture   picture"
    "h1    h1"
    "box   box";
    &__picture{
      width: 100%;
    }
    &__img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__h1{
      padding: 0;
    }
  }
}